<div class="container">
    <h1 id="aboutme">ACERCA DE</h1>
    <a href="#"><img src="https://i.ibb.co/bPG9jBk/download20220503140359.png" class="img-flex" id="fotodeperfil"></a>
    <div class="box">
      <div class="profesion">
          <h2>Full Stack Developer Jr.</h2>
      </div>
  </div>


  <div class="row justify-content-center">
    <div class="card">
      <div class="card-header">
        ¡HOLA!
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p id="informacion">Te doy la bienvenida a mi portfolio y para que me conozcas, te cuento que soy de Tucumán, Argentina, he trabajado como Freelance en la mayoría de mi actividad laboral buscando oportunidades de desarrollarme y mejorar mis habilidades con nuevos retos a cumplir en el sector que me encanta: la tecnología. Actualmente me estoy formando como Desarrolladora Full Stack lo cual me dió la gran oportunidad de introducirme en este sector y conocerlo finalmente. Tengo experiencia como tutora de Matemáticas en Maestrik y de manera personal, editora de video corporativos para MiniPymes, recolectora de datos para empresas privadas, etc.</p>
          </blockquote>
      </div>
    </div>

</div>