<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.jpg" class="img-fluid" id="fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Rossana A. Gallardo</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        
        <span>
            <h1 id="about">Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fugiat assumenda voluptatem nisi et voluptate perspiciatis recusandae ipsum. Recusandae vel quos labore vitae sunt tempore dolore error. Temporibus, dolorum dicta?</p>
        </span>
    </div>
</div>

