<div class="container">
    <h1 id="experiencia">EXPERIENCIA</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ibb.co/Ltd7jDv/Maestrik.png" alt="Maestrik">
                <div class="card-body">
                  <h5 class="card-title">TUTORA DE MATEMÁTICAS</h5>
                  <p class="card-text">FUNCIÓN: Brindar clases de refuerzo escolar y clases extracurriculares en Matemáticas, Álgebra y Cálculo</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">INICIO: 2012-ACTUALIDAD</li>
                </ul>
                <div class="card-body">
                  <a href="https://www.maestrik.com/" class="card-link">Sitio Web</a>
                  <a href="https://play.google.com/store/apps/details?id=com.maestrik.teachers&hl=es_CO" class="card-link">PlayStore</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ibb.co/g3tHzSm/branding.png" id="editorfoto">
                <div class="card-body">
                  <h5 class="card-title">PRESENTACIÓN EN VIDEO Y POWERPOINT PARA CAMPAÑAS de pro</h5>
                  <p class="card-text">Función: Realicé diversa</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">INICIO: ENERO 2022</li>
                  <li class="list-group-item">FINALIZACIÓN: FEBRERO 2022</li>
                </ul>
                <div class="card-body">
                  <a href="https://www.flipsnack.com/jesusgarciamagazine/branding-solutions.html" class="card-link">Revista</a>
                  <a href="https://your-little-garden.jimdosite.com/equipo/" class="card-link">Youtube</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.ibb.co/Yt4Q9vk/unnamed.png" alt="redecoimg" id="redeco">
                <div class="card-body">
                  <h5 class="card-title" id="dataEco">RECOLECCIÓN Y ANÁLISIS DE DATOS - RED ECO</h5>
                  <p class="card-text" id="fcion">Función: recolectar datos para su posterior análisis de empresas que comercian Vidrio, Madera, Plástico</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">INICIO: AGOSTO 2020</li>
                  <li class="list-group-item">FINALIZACIÓN: MARZO 2021</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  
                </div>
              </div>

              
        </div>
    </div>
</div>
